h1 {
  text-align: center;
  color: black;
}

.home {
  background-image: url(../assets/astronomy-atmosphere-earth-220201.jpg);

  background-position: center center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;

  background-color: #464646;

  height: 25em;
  width: 35em;
  border-radius: 25%;
}
